* {
    margin: 0;
    padding: 0;
    user-select: none;
}

canvas {
    position: fixed;
    z-index: -1;
}

.flex {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 35vh;
    filter: drop-shadow(1px, 1px, 3px, #ffffff)
}

h1 {
    padding-top: 45px;
    font-size: 80px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    font-size: 20px;
}